body {
  background-color: #FFFFFF;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  max-width: 375px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

nav {
  background-color: #47C792;
  color: #FFFFFF;
  padding-bottom: 25px;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  width: 375px;
}

h1 {
  float: inherit;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.01em;
}

h2, h3 {
  color: #000000;
  float: left;
  margin-left: 20px;
}

h3 {
  font-size: 16px;
  font-weight: 300;
}

h4, h5 {
  color: #646464;
  float: right;
  font-family: "Alegreya Sans SC";
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

.yellow {
  color: #FFB800;
}

.red {
  color: #FF0000;
}

.green {
  color: #00AB3A;
}

.container {
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 60px;
  width: 100%;
}

.bus {
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

.direction, .alerts {
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

.dircolor{
  color: #47C792;
}

.alertcolor {
  color: #FF0000;
}

.right {
  float: right;
  margin-right: 15px;
  margin-top: 10px;
}

.statusbar {
  padding-bottom: 10px;
  max-width: 375px;
}

.arrow {
  margin-left: 10px;
  margin-top: 20px;
  width: 10px;
}

.backarrow {
  float: left;
  margin-left: 20px;
  margin-top: 7.5px;
  width: 15px;
}

.menu {
  float: right;
  margin-right: 20px;
  margin-top: 7.5px;
}

.navbar {
  background-color: #47C792;
  bottom: 0;
  color: #FFFFFF;
  font-family: "Alegreya Sans";
  font-size: 12px;
  height: 60px;
  padding: 10px;
  position: fixed;
  width: 375px;
}

.navbar li {
    align-items: center;
    display: inline-block;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.nobull, {
  list-style-type: none;
}
